<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Blog Post App</title>
</head>
<body>
  <h2>Blog Posts</h2>
  <%@posts.each do |post|%>
    <p>
      <strong><%=post.name%></strong><br>
      <%=post.content%>
    </p>
  <%end%>
</body>
</html>
