<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Blog Post App</title>
</head>
<body>
  <h2>New Blog Post</h2>
  <form action="/posts" method="post">
    <input type="text" name="name" placeholder="Enter post name" size="37"/><br>
    <textarea name="content" placeholder="Enter post content" cols="35" rows="10"></textarea><br>
    <input type="submit" value="submit"/>
  </form>
</body>
</html>
